@mixin dots($count) {
  $text-shadow: ();

  @for $i from 0 through $count {
    $hue: 180 + (random() * 40);
    $lightness: 50% + (random() * 20%);

    $text-shadow:
      $text-shadow,
      (-0.5 + (random()) * 3) +
        em
        (-0.5 + (random()) * 3) +
        em
        10px
        hsla($hue, 90%, $lightness, 0.25);
  }

  text-shadow: $text-shadow;
}

html {
  background: #09090b;
}

body,
head {
  display: block;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 54s -27s move infinite ease-in-out alternate;
  z-index: -10;
}

body::before {
  @include dots(35);
  animation-duration: 54s;
  animation-delay: -27s;
  z-index: -10;
}

body::after {
  @include dots(35);
  animation-duration: 51s;
  animation-delay: -32s;
  z-index: -10;
  margin-left: 20rem;
  margin-right: 20rem;
}

head::before {
  @include dots(35);
  animation-duration: 48s;
  animation-delay: -23s;
  z-index: -10;
}

head::after {
  @include dots(35);
  animation-duration: 45s;
  animation-delay: -19s;
  z-index: -10;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(10) translateX(-30px);
  }
  to {
    transform: rotate(360deg) scale(15) translateX(30px);
  }
}
